<section
    class="d-flex flex-column align-items-center pt-3"
    th:style="${client.isActive() ? '' : 'visibility: hidden'}"
>
    <h4>FPGA</h4>
    <div class="text-secondary">
        <input id="bitFile" type="file" accept=".bit,.bin" />
        <label for="startSectorID">startSectorID:</label>
        <input type="number" id="startSectorID" min="1" />
        <button th:id="${client.getID() + '-flash-button'}" onclick="uploadFile(this)">
            Flash
        </button>
    </div>
</section>
