<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/layout :: head}">
    <title>enV5</title>
</head>
<body>
<header th:replace="~{fragments/layout :: header}"></header>

<section class="d-flex flex-column align-items-center pt-3">
    <h4>Twin Data</h4>
    <div class="container grid gap-2">
        <div class="row">
            <div class="col text-end fw-bold">
                Name
            </div>
            <div class="col" th:text="${communicationEndpoint.getName()}">
                Twin Name
            </div>
        </div>
        <div class="row">
            <div class="col text-end fw-bold">
                ID
            </div>
            <div class="col" th:text="${communicationEndpoint.getId()}">
                Twin ID
            </div>
        </div>
        <div class="row">
            <div class="col text-end fw-bold">
                Status
            </div>
            <div class="col" th:text="${communicationEndpoint.isActive() ? 'ONLINE' : 'OFFLINE'}">
                Twin Status
            </div>
        </div>
    </div>
</section>
<section class="d-flex flex-column align-items-center pt-3" id="section-sensors"
         th:if="${communicationEndpoint.getAvailableSensors() != null}">
    <h4>Measurements</h4>
    <div class="d-grid container gap-2" id="sensors">
        <div class="row text-center" th:each="sensor, iState: ${communicationEndpoint.getAvailableSensors()}">
            <div class="input-group">
                <span class="input-group-text" th:id="${'label-' + sensor.toLowerCase()}"
                      th:text="${sensor.toUpperCase()}"></span>
                <input class="form-control" th:id="${sensor.toLowerCase()}" th:attr="aria-label=${sensor.toLowerCase()}"
                       type="text" readonly>
                <script th:inline="javascript">
                    setTimeout(function() {
                        setValueUpdate([[${communicationEndpoint.getId()}]], [[${sensor}]], [[${sensor}]]);
                    }, [[${iState.index}]]*1000)
                </script>
            </div>
        </div>
    </div>
</section>
<section class="d-flex flex-column align-items-center pt-3" th:style="${communicationEndpoint.isActive() ? '' : 'visibility: hidden'}">
    <h4>FPGA</h4>
    <div class="text-secondary">
        <input id="bitFile" type="file" accept=".bit,.bin">
        <button th:id="${communicationEndpoint.getId() + '-flash-button'}" onclick=uploadFile(this)>Flash</button>
    </div>
</section>
</body>
</html>
