<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/layout :: head}">
    <title>enV5</title>
</head>
<body>
<header th:replace="~{fragments/layout :: header}"></header>

<section class="d-flex flex-column align-items-center pt-3">
    <h4>Twin Data</h4>
    <div class="container grid gap-2">
        <div class="row">
            <div class="col text-end fw-bold">
                Name
            </div>
            <div class="col" th:text="${twin.getName()}">
                Twin Name
            </div>
        </div>
        <div class="row">
            <div class="col text-end fw-bold">
                ID
            </div>
            <div class="col" th:text="${twin.getId()}">
                Twin ID
            </div>
        </div>
        <div class="row">
            <div class="col text-end fw-bold">
                Status
            </div>
            <div class="col" th:text="${twin.isActive() ? 'ONLINE' : 'OFFLINE'}">
                Twin Status
            </div>
        </div>
    </div>
</section>
<section class="d-flex flex-column align-items-center pt-3" id="section-sensors">
    <h4>Measurements</h4>
    <div id="information">
        <div id="twinID" th:text="${twin.getId()}"></div>
        <div id="availableSensors" th:text="${twin.getAvailableSensors()}"></div>
    </div>

    <div class="d-grid container gap-2" id="sensors">
        <script>
            let measurementsDiv = document.createElement("div")

            let twinID = document.getElementById("twinID").innerHTML

            function addSensor(value) {
                let valueDiv = document.createElement("div")
                valueDiv.innerHTML =
                    '<div class="row text-center">' +
                    '   <div class="input-group">' +
                    '       <span class="input-group-text" id="label-' + value + '">' + value.toUpperCase() + '</span>' +
                    '       <input type="text" class="form-control" aria-label="' + value + '" ' +
                    '           aria-describedby="label-' + value + '" id="' + value + '" readonly>' +
                    '   </div>' +
                    '</div>' +
                    '</br>'

                measurementsDiv.appendChild(valueDiv)

                let valueScript = document.createElement("script")
                valueScript.type = 'text/javascript';
                valueScript.appendChild(document.createTextNode('setValueUpdate("' + twinID + '", "' + value + '", "' + value + '");'))
                measurementsDiv.appendChild(valueScript)
            }

            if (document.getElementById("availableSensors").innerHTML.includes(",")) {
                document.getElementById("availableSensors").innerHTML = document.getElementById("availableSensors").innerHTML.replaceAll(",", "#")
                document.getElementById("availableSensors").innerHTML = document.getElementById("availableSensors").innerHTML.replace("[", "").replace("]", "").replaceAll(" ", "")
                document.getElementById("availableSensors").innerHTML.split("#").forEach(addSensor)
                document.getElementById("availableSensors").innerHTML = document.getElementById("availableSensors").innerHTML.replaceAll("#", "")
            } else {
                document.getElementById("section-sensors").innerHTML = ""
            }
            document.getElementById("sensors").appendChild(measurementsDiv)
            document.getElementById("information").remove()
        </script>

    </div>

</section>
<section class="d-flex flex-column align-items-center pt-3">
    <h4>FPGA</h4>
    <div class="text-secondary">
        <input id="bitFile" type="file" accept=".bit,.bin">
        <button th:id="${twin.getId() + '-flash-button'}" onclick=uploadFile(this)>Flash</button>
    </div>
</section>
</body>
</html>
