name: Unit Tests

on: [push, workflow_dispatch]

jobs:
  integrationTests:
    runs-on: ubuntu-latest

    steps:
      - name: Setup Action
        uses: actions/checkout@v2

      - name: Setup Java
        uses: actions/setup-java@v2
        with:
          distribution: temurin
          java-version: 17

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2

      - name: Run Unit Tests
        run: gradle test
